.search01 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 12px;
}

.search02 {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    justify-content: space-between;
    margin-bottom: 22px;
}

.search03 {
    width: 150px;
    display: flex;
    justify-content: center;
}

.search04 {
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.search04 > i {
    color: black;
}

.search04:hover {
    background-color: black;
    border-color: white;
}

.search04:hover > i {
    color: white;
}

.search05 {
    position: relative;
}

.search-input {
    width: 364px;
    font-size: 18px;
    padding: 10px 10px 10px 40px;
    color: white;
    border: 2px solid black;
    outline: none;
    border-radius: 999px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.search-input:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.search-input:focus-within {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: white;
}
.search-input::placeholder {
    color: rgba(0, 0, 0, 0.589);
}

.search-icon-div {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.search06 {
    flex: 1;
}

.search07 {
    padding: 8px 12px;
}

.search08 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}

.search09 {
    width: calc(50% - 4px);
    position: relative;
    margin-bottom: 22px;
}

.search09 h2 {
    margin-top: 0;
}
.search10 {
    display: flex;
    padding: 11px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}
.search10:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.search11 {
    width: 40%;
    aspect-ratio: 1/1;
}

.search11 > img {
    width: 100%;
    vertical-align: middle;
    border-radius: 8px;
}

.search12 {
    margin-left: 22px;
}

.search12 > h3 {
    margin: 10px 0;
}

.search12 > p {
    margin: 0;
}

.search12 > h3,
.search12 > p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search13 {
    position: absolute;
    right: 33px;
    cursor: pointer;
    bottom: 33px;
    border-radius: 999px;
    background-color: white;
    padding: 8px 22px;
}

.search14 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search15 {
    background-color: white;
    padding: 8px 12px;
    border-radius: 999px;
    font-size: 13px;
    cursor: pointer;
}

.search16 {
    margin: 11px 0;
}

.search17 {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.search17:hover {
    background-color: white;
    border-color: darkgrey;
}

.search17 i.fa-heart {
    transition: color 0.3s ease-in-out;
}

.search17:hover i.fa-heart.fa-regular {
    color: black;
}

.search18 {
    height: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
}

.search18 img {
    width: 100%;
    vertical-align: middle;
}

.search19 {
    width: 100%;
    display: flex;
}

.search20 {
    width: 48%;
    padding-right: 22px;
    display: flex;
    align-items: center;
}

.search20 > h3 {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.search21 {
    width: 48%;
    display: flex;
    align-items: center;
}

.search21 > p {
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.search22 {
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.search23 {
    width: 100%;
}

.search24 {
    width: calc(100% - 225px);
}

.search25 {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: all 0.3s ease-in-out;
}

.search26 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search27 {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.search17:hover .search25 {
    opacity: 1;
}

.search22 i.fa-ellipsis {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.search17:hover .search22 i.fa-ellipsis {
    opacity: 1;
}

.song-options {
    opacity: 1;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.search17:hover .song-options {
    opacity: 0;
}

.search17:hover .search22 {
    font-size: 16px;
}

.song-id {
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    /* font-weight: 600; */
    font-weight: 600;
}

.search17:hover .song-id {
    transform: scale(1.01);
}
/* .search17:hover .search27 .search22 {
    opacity: 0;
} */