.playlist01 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playlist02 {
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* border-radius: 8px; */
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.playlist02:hover {
    background-color: rgb(255, 255, 255);
    border-color: black;
}

.playlist03 {
    height: 40px;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    align-items: center;
}

.playlist04 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.playlist04 > img {
    width: 100%;
    vertical-align: middle;
}

.playlist05 {
    margin-left: 11px;
}

.playlist05 > p {
    margin: 0;
    font-size: 12px;
}

.playlist05 > h5 {
    margin: 0px 0 5px;
}

.playlist06 {
    padding: 66px 12px 8px;
    margin-left: 44px;
}

.playlist07 {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.playlist08 {
    height: 200px;
    width: 200px;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: darkgrey;
    overflow: hidden;
    /* border: 1px solid black; */
    display: flex;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.132);
    justify-content: space-between;
}

.playlist09 {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist09 > img {
    width: 100%;
    vertical-align: middle;
}

.playlist10 {
    color: black;
    border-color: black;
}

.playlist11 {
    margin-left: 22px;
    overflow: hidden;
    width: calc(100% - 222px);
}

.playlist11 > p,
.playlist12 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.playlist12 {
    font-size: 48px;
    font-weight: 1000;
}

.playlist13 {
    margin: 22px 0;
}

.playlistClose > .playlist14 {
    display: none;
}

.playlist14 {
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: white;
    height: min-content !important;
}

.playlist14 > div > div {
    overflow: visible;

    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.playlist14 > div > div:hover {
    background-color: rgba(43, 197, 180, 0.1);
}

.playlist15 {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.playlist15 > * {
    pointer-events: none;
}
.playlist16 {
    height: 50px;
    width: 50px;
}

.playlist17 {
    margin-left: 11px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}